header {
  background-color: #d0485d;
  color: #ebfcff;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
  gap: 4rem;
}

.projectName {
  font-family: "Cabin", sans-serif;
}

.usersFollowing {
  justify-self: end;
}
