.profileWrapper {
  background: #fff;
  margin-top: 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "ProfileBio ProfileBio"
    "PersonalInfo ContactInfo"
    "MoreDetails MoreDetails";
}

.profileBio {
  grid-area: ProfileBio;
  text-align: center;
  padding-bottom: 2.6rem;
}

.profileBackground {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 8rem;
  filter: blur(2px);
}

.profileImage {
  display: flex;
  width: 9rem;
  height: 9rem;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 5rem;
  margin: -6rem auto 0 auto;
  position: relative;
  border: 3px solid #fff;
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 18%);
}

.profileImage img {
  width: 100%;
}

.profileName {
  margin-top: 1.5rem;
}

.personalInfo {
  grid-area: PersonalInfo;
  padding: 1rem;
}

.contactInfo {
  grid-area: ContactInfo;
  padding: 1rem;
}

.actionsButtons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.buttonOutline {
  background-color: transparent;
  border: 1px solid #73aabb;
  color: #73aabb;
  transition: all 200ms linear;
}

.buttonOutline:hover,
.buttonOutline:focus {
  background-color: transparent;
  border: 1px solid #53808e;
  color: #53808e;
}

.buttonText {
  background-color: transparent;
  border: 0;
  color: #73aabb;
  text-decoration: underline;
}

.infoList {
  margin-top: 0.8rem;
  color: #4c4c4c;
}

.moreDetails {
  grid-area: MoreDetails;
}
